@media (max-width: 750px) {
    label[for="menu"] {
        display: block;
    }

    .closenav {
        display: block;
    }

    .navList {
        flex-direction: column;
        position: fixed;
        background-color: #125d;
        top: 70px;
        left: 100%;
        height: calc(100dvh - 70px);
        width: 300px;
        transition: 0.5s;
        display: none;
        pointer-events: none;
        visibility: hidden;
        overflow: hidden;
    }

    .navLink {
        background-color: rgba(17, 34, 85, 0.47);
        width: 100%;
        max-width: 200px;
        text-align: center;
        padding: 10px 0;
    }

    .navLink a {
        width: fit-content;
        margin: 0 auto;
    }

    .navList.activeNavList {
        left: calc(100vw - 300px);
        pointer-events: auto;
        visibility: visible;
    }
}


@media (max-width: 630px) {
    .navList {
        width: 100%;
    }

    .navList.activeNavList {
        left: 0;
    }

    nav {
        padding: 0 10px;
    }
}

@media (max-width: 630px) {
    .logo h2 {
        font-size: 1.2rem;
    }

    .logo img {
        height: 35px;
    }
    
    .logo {
        gap: 5px;
    }
}